.q1 {border: 3px solid red;
background-color: orange;
width: 500px;
height: 150px;
}
.q2 {border:3px solid green ;
background-color: orange;
margin: 30px;
margin-bottom: 10px;
width: 200px;
height: 80px;
}